@import url(reset.css);

* {
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #f4f1ebff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-shadow: 0px 0px 1px black;
}
h2, p{
    text-align: center;
}
h1{
    font-size: x-large;
    text-align: center;
    margin-bottom: 0;
}

body>main{
    width: 98%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}
body main>section{
    width: 30%;
}
body main>section>form{
    box-shadow: 2px 2px 5px #897f66;
    background: #ebddc0;
    border-radius: 5px;
}

body section fieldset{
    border: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: large;
    padding-top: 0;
    padding-bottom: 0;
    width: 98%;
}
form>fieldset>legend{
    font-weight: bold;
    margin: auto;
    padding-bottom: 0;
}
form>fieldset>p>input{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f4f1ebff;
    width: 90%;
}
p>input:focus{
    outline:none;
    background: white;
    border: 2px solid #3A577C;
    box-shadow: 2px 2px 2px #897f66cc;
}
p>input:required:focus{
    border: 2px solid #3A577C;
}


body .inscrire, body .connecter{
    display: block;
    margin: auto;
    margin-top: 1vh;
    background-color: #3A577C;
    border-radius: 15px;
    color: #f4f1ebff;
    padding: 5px;
    border: none;
}
body .inscrire:hover, body .connecter:hover{
    background-color: #3d6393;
    color: white;
    box-shadow: 2px 2px 2px #897f66cc;
    cursor: pointer;
}